[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flake8 = "==7.3.0"
inmemory-datastore-stub = "==1.0.0"
coverage = "==7.15.4"
google-cloud-logging = "==3.16.2"
google-cloud-ndb = "==2.5.1"
gunicorn = "==26.1.0"
requests = "==2.34.2"

[requires]
python_version = "3.14"
